.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 54px;
  color: var(--text-color-1);
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 24px;
  font-size: 20px;
  margin-top: 20px;

  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.green {
  color: var(--text-color-1);
  background-color: #6db25f;
}
