:root {
  --text-color-1: #ffffff;
  --text-color-2: #4386eb;
  --text-color-3: #000000;
  --background-color-1: #000000;
  --background-color-2: #252525;
  --background-color-3: #ffffff;
  --button-color-1: #0371d8;
  --button-color-2: #4a9c4e;
  --button-color-3: #dddddd;
  --hover-color-1: #dddddd;
}

.dark {
  --text-color-1: rgb(0, 0, 0);
  --text-color-2: #3842cc;
  --text-color-3: #ffffff;
  --background-color-1: #ffffff;
  --background-color-2: #a72aa3;
  --background-color-3: #000000;
  --button-color-1: #0371d8;
  --button-color-2: #4a9c4e;
  --button-color-3: #000000;
  --hover-color-1: #000000;
}
