.ButtonGreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 54px;
  color: white;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 24px;
  font-size: 20px;
  margin-top: 20px;
  background-color: #6db25f;

  img {
    height: 22px;
    width: 22px;
    filter: invert(100%);
    margin-right: 10px;
    margin-top: 1px;
  }
}
