.ButtonGreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 54px;
  color: white;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 24px;
  font-size: 20px;
  margin-top: 20px;
  background-color: #6db25f;
  cursor: pointer;
}
.shift {
  margin-right: 20px;
  transition: all 0.3s;
}
.text {
  margin-left: 20px;
}
.next {
  height: 22px;
  width: 22px;
  filter: invert(100%);
  margin-top: 1px;
  transition: all 0.3s;
}
