.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  display: flex;
  justify-content: center;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
  filter: invert(100%);
}
.line_long {
  height: 1px;
  width: 156px;
  background-color: var(--background-color-3);
  transition: width 3s;
}
.line_short {
  height: 1px;
  width: 16px;
}
