.Header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--background-color-1);
  border-bottom: 0.1px solid var(--text-color-1);

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
  }
}
