.carousel {
  height: 220px;
  position: relative;
  overflow: hidden;
  background-color: var(--background-color-3);
  margin: 80px;
}
.line {
  position: absolute;
  display: flex;
  left: -360px;
  transition: 0.5s;
}
.picture {
  height: 180px;
}
.link_collections {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.Dot {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
.dot {
  width: 10px;
  margin: 10px;
  height: 10px;
  display: flex;
  bottom: -20px;
  transform: translate(-50%);
  cursor: pointer;
  background-color: var(--button-color-1);
  border-radius: 50%;
}
.next-button {
  position: absolute;
  height: 39px;
  top: 150px;
  right: 40px;
  background-color: var(--button-1);
  border-radius: 20px;
  cursor: pointer;
  z-index: 50;
}
