.slopic_block {
  width: 100%;
  min-height: 600px;
  position: relative;
}
.slopic {
  position: absolute;
  min-height: 600px;
  width: 50%;
  background: var(--background-color-1);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  z-index: 1;
  opacity: 50%;
}
.header_photo {
  position: absolute;
  width: 100cm;
  height: 600px;
  object-fit: cover;
  z-index: -50;
}
.info_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 600px;
  width: 50%;
  z-index: 1;
}
.text {
  color: var(--text-color-1);
  width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}
.Logo {
  width: 270px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo_text {
  font-size: 48px;
}
.icons_logo {
  filter: invert(100%);
  width: 60px;
  height: 60px;
}
.message {
  color: var(--text-color-2);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
.list_achievements {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.achievement {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 600;
}
.icons_list {
  width: 20px;
  height: 30px;
  margin: 10px;
}
