.ButtonPlayStop {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--button-color-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;

  .stop {
    position: absolute;
    left: 13px;
    border: 10px solid transparent;
    border-left: 18px solid var(--background-color-1);
    transition: border-left 0.3s;
  }
  .play {
    position: absolute;
    background-color: var(--background-color-1);
    width: 18px;
    height: 18px;
    left: 11px;
    transition: all 0.3s;
  }
}
